main {
  margin-block: 40px;
}

.card-img {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(
      transparent,
      #020617
    );
    inset: 0;
  }
  figcaption {
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 24px;
    h2 {
      margin-top: 8px;
    }
    &:has(.text-lg) {
      padding: 12px;
    }
  }
}